extends partials/layout

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var isPageTitle = false
  - var parentMenu = '404'
  - var menuTitle = '404 Not Found'

//- Page Content
block content
  .container.py-5.mb-4.text-center
    h1.display-404 404
    h2.h3 This isn’t the page you are looking for.
    p.text-muted Move along, and go back to the <a href='index.html' class='font-weight-medium'>home page</a>.

  //- footer-default.pug template
  include partials/footer-default
