extends partials/layout

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var pageTitle = 'Contact'
  - var pageTitleBgImage =''
  - var parentMenu = 'Contact'

//- Page Content
block content
  .container.pb-4.mb-2
    .row
      .col
      .col-12.col-sm-10.col-md-8.col-lg-7
        <form id="contact-form" action="https://liveformhq.com/form/4b87e022-9490-4d97-bc2d-ff88643ccb3f" method="POST" accept-charset="utf-8" role=form class="container needs-validation" novalidate>
          <input type="hidden" name="_utf8" value="✓">
          <input type="hidden" value="https://www.jbhdesign.com/thank-you.html" name="_redirect" />

          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" required>
            <div class="invalid-feedback">Please enter your name</div>
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" name="email" required>
            <div class="invalid-feedback">Please enter an email address</div>
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" required></textarea>
            <div class="invalid-feedback">Please enter a message</div>
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="g-recaptcha" data-sitekey="6LfWdJsUAAAAAC0LFgluKbMoMMNXgZas-rniAX4K" data-callback="onSubmit"></div>

          <button id="form_submit" type="submit" class="btn btn-secondary mb-3" value="Submit">Submit</button>
        </form>

        //- Vertically Centered Modal
        //-
          div(id="modalCentered" tabindex="-1" role="dialog").modal.fade
            .modal-dialog.modal-dialog-centered(role="document")
              .modal-content
                .modal-header
                  h4.modal-title Modal title
                  button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
                .modal-body
                  p Modal body text goes here.
                .modal-footer
                  button(type="button" class="btn btn-secondary btn-sm" data-dismiss="modal") Close
      .col

  //- footer-default.pug template
  include partials/footer-default
