extends partials/layout

block vars
  - var bodyClass = 'home';

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var isPageTitle = false
  - var pageTitle = 'JBH Design • Home'
  - var parentMenu = 'Home'
  - var menuTitle = "Home"

//- Page Content
block content

  section.rainWrapper
    <i class="rain"></i>

  // Hero
  section.bg-white.text-center
    .container.py-5.px-5
      .col.py-0.py-md-5
        .row.justify-content-center
          h2.text-lg.text-uppercase You made it!
        .row.justify-content-center.pb-2
          h1.display-4.font-weight-normal I'm so happy you're here
        .row.justify-content-center.tagline
          h2.text-lg.font-weight-normal Welcome, and please <a href="#" class="btn btn-style-4 btn-light d-inline-block come-in">come in</a> from out of that rain...
        //-
          h2.text-lg.font-weight-normal <span class="textLeft">Welcome, and please<span class="fadingEffectLeft"></span></span> <span class="textRight"><a href="#" class="btn btn-style-4 btn-light d-inline-block come-in" data-parallax='{"scale" : 0.1}'>come in</a> from out of that rain...<span class="fadingEffectRight"></span></span>

  section.text-center
    .container.pt-5.justify-content-center
      .row
        .col
        .col-10.col-md-8.col-lg-6
          .row.py-0.py-md-5.justify-content-center
              div.circle-shape-example
                img(src="img/img_josh.png" alt="photo of Josh").portrait.my-3
                p.mb-4 It’s a pleasure to meet you. I’m Josh, a designer living in the bay area of California. Before you look around, I suggest first reading a story. The words “us” and “we” are used generously here, so aren't you super curious to know who that is?!
              a(href='story.html').btn.btn-style-4.btn-light.d-inline-block.mx-1 Story
              a(href='portfolio.html').btn.btn-style-4.btn-light.d-inline-block.mx-1 Portfolio
        .col
    //- footer-blog.pug template
    include partials/footer-default
      


