extends partials/layout

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var pageTitle = 'Portfolio'
  - var parentMenu = 'Portfolio'

//- Page Content
block content
  .container.pb-5.px-3.mb-3
    
    // Filters
    ul(class='nav nav-tabs item-filter nav-tabs-style-2 mb-4')
      li.nav-item
        a(href='#' class='nav-link active all' data-filter='*')
          | All&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link featured' data-filter='.featured')
          | Featured&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link mobile' data-filter='.mobile')
          | Mobile&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link' data-filter='.web')
          | Web&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link' data-filter='.touchscreen')
          | Touchscreen&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link' data-filter='.design')
          | Design&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link' data-filter='.fun')
          | Fun&nbsp;
          sup #

    ul(class='nav nav-tabs item-filter sub-filter nav-tabs-style-2 mb-4 mb-md-5')
      li.nav-item
        a(href='#' class='nav-link prototyping' data-filter='.prototyping')
          | Prototyping&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link user-testing' data-filter='.user-testing')
          | User Testing&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link data' data-filter='.data')
          | Data&nbsp;
          sup #
      li.nav-item
        a(href='#' class='nav-link marketing' data-filter='.marketing')
          | Marketing&nbsp;
          sup #

    // Grid
    .isotope-grid.filter-grid.cols-3
      .gutter-sizer
      .grid-sizer

      // Portfolio Item
      .grid-item.featured.touchscreen.prototyping.user-testing.data.mb-30
        .portfolio-card
          a(href='portfolio-Asian-Art-Museum-Wayfinding-Kiosk.html').portfolio-thumb
            +image('img/portfolio/aam_kiosk_wayfinding_05.jpg', 'Portfolio Thumbnail')
          .portfolio-card-body
            h5.portfolio-title: a(href='portfolio-Asian-Art-Museum-Wayfinding-Kiosk.html') Asian Art Museum Wayfinding Kiosk
            .filer-grid
              .nav-tabs
                a(href='#' class='nav-link' data-filter='.prototyping').tag-link Prototyping
                a(href='#' class='nav-link' data-filter='.user-testing').tag-link User Testing
                a(href='#' class='nav-link' data-filter='.data').tag-link Data

      // Portfolio Item
      .grid-item.featured.touchscreen.prototyping.user-testing.data.mb-30
        .portfolio-card
          a(href='portfolio-Getty-Digital-Label-System.html').portfolio-thumb
            +image('img/portfolio/getty_dls_02.jpg', 'Portfolio Thumbnail')
          .portfolio-card-body
            h5.portfolio-title: a(href='portfolio-Getty-Digital-Label-System.html') Getty Digital Label System
            .filer-grid
              .nav-tabs
                a(href='#' class='nav-link' data-filter='.prototyping').tag-link Prototyping
                a(href='#' class='nav-link' data-filter='.user-testing').tag-link User Testing
                a(href='#' class='nav-link' data-filter='.data').tag-link Data

      // Portfolio Item
      .grid-item.featured.mobile.prototyping.user-testing.data.mb-30
        .portfolio-card
          a(href='portfolio-de-Young-Legion-of-Honor-apps.html').portfolio-thumb
            +image('img/portfolio/famsf_04.jpg', 'Portfolio Thumbnail')
          .portfolio-card-body
            h5.portfolio-title: a(href='portfolio-de-Young-Legion-of-Honor-apps.html') de Young / Legion of Honor Apps
            .filer-grid
              .nav-tabs
                a(href='#' class='nav-link' data-filter='.prototyping').tag-link Prototyping
                a(href='#' class='nav-link' data-filter='.user-testing').tag-link User Testing
                a(href='#' class='nav-link' data-filter='.data').tag-link Data

      // Portfolio Item
      .grid-item.featured.mobile.marketing.mb-30
        .portfolio-card
          a(href='portfolio-Hearst-Castle-app.html').portfolio-thumb
            +image('img/portfolio/hearst_01.jpg', 'Portfolio Thumbnail')
          .portfolio-card-body
            h5.portfolio-title: a(href='portfolio-Hearst-Castle-app.html') Hearst Castle App
            .filer-grid
              .nav-tabs
                a(href='#' class='nav-link' data-filter='.marketing').tag-link Marketing

      // Portfolio Item
      .grid-item.featured.mobile.user-testing.marketing.mb-30
        .portfolio-card
          a(href='portfolio-Guidekick-app.html').portfolio-thumb
            +image('img/portfolio/guidekick_app_13.jpg', 'Portfolio Thumbnail')
          .portfolio-card-body
            h5.portfolio-title: a(href='portfolio-Guidekick-app.html') Guidekick App
            .filer-grid
              .nav-tabs
                a(href='#' class='nav-link' data-filter='.user-testing').tag-link User Testing
                a(href='#' class='nav-link' data-filter='.marketing').tag-link Marketing

  //- footer-portfolio.pug template
  include partials/footer-default
