extends partials/layout

block vars
  - var bodyClass = 'portfolio-inner';

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var pageTitle = 'Noserider Surfboard'
  - var parentMenu = 'Portfolio'

//- Page Content
block content
  .container.py-5.px-3.px-lg-5
    .row.pt-md-5
      // Project Gallery
      .col-12.col-md-6.mb-3
        .row
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/noserider_06.jpg' data-fancybox='sideGallery' data-options='{"caption": "The board started like everything else, as an idea"}').gallery-item.mb-30
              +image('img/portfolio/noserider_06.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            .row
              .col
                a(href='img/portfolio/single/noserider_01.jpg' data-fancybox='sideGallery' data-options='{"caption": "Foam taking form"}').gallery-item.mb-30
                  +image('img/portfolio/noserider_01.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/noserider_02.jpg' data-fancybox='sideGallery' data-options='{"caption": "Shape done, time to tape and paint the base layer"}').gallery-item.mb-30
                  +image('img/portfolio/noserider_02.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            .row
              .col
                a(href='img/portfolio/single/noserider_08.jpg' data-fancybox='sideGallery' data-options='{"caption": "With the base layer painted, the design is taped before painting"}').gallery-item.mb-30
                  +image('img/portfolio/noserider_08.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/noserider_03.jpg' data-fancybox='sideGallery' data-options='{"caption": "With the design done, the foam is wrapped in the fiberglass cloth before resin is poured over it"}').gallery-item.mb-30
                  +image('img/portfolio/noserider_03.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            .row
              .col
                a(href='img/portfolio/single/noserider_04.jpg' data-fancybox='sideGallery' data-options='{"caption": "UV light from the sun, curing the resin"}').gallery-item.mb-30
                  +image('img/portfolio/noserider_04.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/noserider_05.jpg' data-fancybox='sideGallery' data-options='{"caption": "UV light from the sun, curing the resin"}').gallery-item.mb-30
                  +image('img/portfolio/noserider_05.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/noserider_07.jpg' data-fancybox='sideGallery' data-options='{"caption": "Taking it out for a test ride"}').gallery-item.mb-30
              +image('img/portfolio/noserider_07.jpg', 'Gallery Image')
      
      // Project Details
      .col-12.col-md-6
        h1.h4.mb-5 #{pageTitle}
        .widget
          h2.widget-title Description
          p One of the things I loved about Cal Poly State University was that you could take a surfboard shaping class! I shaped this 9’1” longboard during my senior year. The class was only for shaping the foam. Afterwards, I took the board to a nearby friend’s place to paint and glass it. Glassing is the process of covering the foam in a waterproof layer of resin, which hardens under UV light. It also gives the board strength, flexibility, and a smooth surface for gliding over the water. The underside of the board’s front side is concave. Thanks to the laws of fluid dynamics, this means you can stand on the very nose of the board while riding it without nosediving. Go science!
        .widget
          h2.widget-title My Roles
          p Design, shaping, glassing, riding!
    
    // portfolio-share.pug template
    // include partials/portfolio-share
    
    // entry-navigation-portfolio.pug template
    // include partials/entry-navigation-portfolio

  //- footer-portfolio.pug template
  include partials/footer-default
