extends partials/layout

block vars
  - var bodyClass = 'portfolio-inner';

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var pageTitle = 'Getty Digital Label System'
  - var parentMenu = 'Portfolio'

//- Page Content
block content
  .container.py-5.px-3.px-lg-5
    .row.pt-md-5
      // Project Gallery
      .col-12.col-md-6.mb-3
        .row
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/getty_dls_02.jpg' data-fancybox='sideGallery' data-options='{"caption": "DLS object screen"}').gallery-item.mb-30
              +image('img/portfolio/getty_dls_02.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='https://www.youtube.com/watch?v=cQaff8o7Pwg' data-fancybox='sideGallery' data-width="1000" data-height="563").gallery-item.type-video.mb-30
              +image('img/portfolio/getty_dls_08.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            .row
              .col
                a(href='img/portfolio/single/getty_dls_05.jpg' data-fancybox='sideGallery' data-options='{"caption": "DLS installed at the Getty Villa"}').gallery-item.mb-30
                  +image('img/portfolio/getty_dls_05.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/getty_dls_06.jpg' data-fancybox='sideGallery' data-options='{"caption": "DLS installed at the Getty Villa"}').gallery-item.mb-30
                  +image('img/portfolio/getty_dls_06.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/getty_dls_04.jpg' data-fancybox='sideGallery' data-options='{"caption": "Setting up for user testing"}').gallery-item.mb-30
              +image('img/portfolio/getty_dls_04.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/getty_dls_07.jpg' data-fancybox='sideGallery' data-options='{"caption": "Results from user testing, organized in Trello"}').gallery-item.mb-30
              +image('img/portfolio/getty_dls_07.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/getty_dls_03.jpg' data-fancybox='sideGallery' data-options='{"caption": "Matching the text size of the physical label to the text size on an iPad Pro. Go math!"}').gallery-item.mb-30
              +image('img/portfolio/getty_dls_03.jpg', 'Gallery Image')
      
      // Project Details
      .col-12.col-md-6
        h1.h4.mb-5 #{pageTitle}
        .widget
          h2.widget-title Client
          ul.list-unstyled.mb-0
            li
              span J. Paul Getty Museum
            li
              a(href='http://www.getty.edu/' target='_blank').navi-link.font-weight-medium www.getty.edu
            li
              span Los Angeles, CA
        .widget
          h2.widget-title Objective
          p Enable museum visitors to more closely view and learn about small, hard-to-see objects, such as gems, jewelry, and coins in different display cases at the Getty Villa.
        .widget
          h2.widget-title Result
          p An interactive digital label for each display case, in the form of a 12.9-inch iPad Pro, which allows visitors to intuitively zoom in on high-resolution digital images of the objects and read interpretive text. 
        .widget
          h2.widget-title Description
          p The Digital Label System (DLS) was a departure from the museum apps we were working on more heavily at the time, but we couldn’t pass up an opportunity to work with the Getty. It was a fantastic collaboration. The museum has an extensive collection of small ancient objects (rings, gemstones, coins, etc) spanning the Etruscan, Greek, and Roman cultures from the Bronze Age through the Late Roman Empire (ca. 3,000 B.C.–A.D. 600). It also has one of the world’s most advanced imaging laboratories. The Getty had the idea of a digital label system when we started the project, and even had some initial mock ups. While our development team got to work on figuring out how to handle the massive images, we created an organization system for the content and began to iterate on design and interaction. I set about creating a high-fidelity, functional, animated prototype using <a href="https://www.flinto.com/" target="_blank">Flinto</a>. The result was a near 1:1 copy of the final product, including gestures and interaction. After 8 or so design iterations, we went down to the Getty Villa to test the prototype in-person with a mixed group of Getty employees and visitors. After a couple more iterations based on user testing results, the DLS was ready for final development and deployment! Once installed in the museum, early analytics revealed that when visitors interacted with a digital label, on average they explored 50% of all the objects in further detail. Each digital label has between 10 to 40 objects, so it's a positive testament to how much visitors engage with it. About 10 digital labels are currently installed at the Getty Villa.
        .widget
          h2.widget-title My Roles
          p Design, prototyping, user testing, quality assurance
    
    // portfolio-share.pug template
    // include partials/portfolio-share
    
    // entry-navigation-portfolio.pug template
    // include partials/entry-navigation-portfolio

  //- footer-portfolio.pug template
  include partials/footer-default
