extends partials/layout

block vars
  - var bodyClass = 'portfolio-inner';

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var pageTitle = 'Coconut Confections Brand'
  - var parentMenu = 'Portfolio'

//- Page Content
block content
  .container.py-5.px-3.px-lg-5
    .row.pt-md-5
      // Project Gallery
      .col-12.col-md-6.mb-3
        .row
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/coconut_06.jpg' data-fancybox='sideGallery' data-options='{"caption": "Both logos in full color, single color, and reversed single color"}').gallery-item.mb-30
              +image('img/portfolio/coconut_06.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            .row
              .col
                a(href='img/portfolio/single/coconut_02.jpg' data-fancybox='sideGallery' data-options='{"caption": "Label design"}').gallery-item.mb-30
                  +image('img/portfolio/coconut_02.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/coconut_03.jpg' data-fancybox='sideGallery' data-options='{"caption": "Label design"}').gallery-item.mb-30
                  +image('img/portfolio/coconut_03.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/coconut_04.jpg' data-fancybox='sideGallery' data-options='{"caption": "Label design, with an alternate look for the product count"}').gallery-item.mb-30
                  +image('img/portfolio/coconut_04.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/coconut_07.jpg' data-fancybox='sideGallery' data-options='{"caption": "Printed and launched in stores!"}').gallery-item.mb-30
              +image('img/portfolio/coconut_07.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/coconut_01.jpg' data-fancybox='sideGallery' data-options='{"caption": "Business card (owner’s name and phone number changed for privacy)"}').gallery-item.mb-30
              +image('img/portfolio/coconut_01.jpg', 'Gallery Image')
      
      // Project Details
      .col-12.col-md-6
        h1.h4.mb-5 #{pageTitle}
        .widget
          h2.widget-title Description
          p Designed for a friend of mine who started a confections business and wanted a brand to reflect his products. He makes confections both with and without cannabis, but they always have coconut in them, so I designed a pair of logos that could be used for each respective product. The color palette is natural since the products are plant-based, but I wanted the brand to reflect cleanliness, as something consumers could trust. I also aimed to keep it playful and happy to reflect the traits of the business owner, and the intent of providing confections to people. The fonts Sketch Rockwell and Museo Sans were used for the logo and other copy. The best part was seeing the owner distribute the products to local stores and provide people with lots of tasty treats!
        .widget
          h2.widget-title My Role
          p Design
    
    // portfolio-share.pug template
    // include partials/portfolio-share
    
    // entry-navigation-portfolio.pug template
    // include partials/entry-navigation-portfolio

  //- footer-portfolio.pug template
  include partials/footer-default
