extends partials/layout

block vars
  - var bodyClass = 'portfolio-inner';

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-simple'
  - var pageTitle = 'Indianapolis Airport Digital Experience'
  - var parentMenu = 'Portfolio'

//- Page Content
block content
  .container.py-5.px-3.px-lg-5
    .row.pt-md-5
      // Project Gallery
      .col-12.col-md-6.mb-3
        .row
          .col-12.col-sm-6.col-md-12
            a(href='img/portfolio/single/ind_airport_05.jpg' data-fancybox='sideGallery' data-options='{"caption": "Large touchscreen display at the airport"}').gallery-item.mb-30
              +image('img/portfolio/ind_airport_05.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            a(href='https://vimeo.com/325524311?autoplay=1&muted=1' data-fancybox='sideGallery' data-width="1000" data-height="563").gallery-item.type-video.mb-30
              +image('img/portfolio/ind_airport_06.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            .row
              .col
                a(href='img/portfolio/single/ind_airport_01.jpg' data-fancybox='sideGallery' data-options='{"caption": "Screenshot of the web app"}').gallery-item.mb-30
                  +image('img/portfolio/ind_airport_01.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/ind_airport_02.jpg' data-fancybox='sideGallery' data-options='{"caption": "Screenshot of the web app"}').gallery-item.mb-30
                  +image('img/portfolio/ind_airport_02.jpg', 'Gallery Image')
          .col-12.col-sm-6.col-md-12
            .row
              .col
                a(href='img/portfolio/single/ind_airport_03.jpg' data-fancybox='sideGallery' data-options='{"caption": "Screenshot of the web app"}').gallery-item.mb-30
                  +image('img/portfolio/ind_airport_03.jpg', 'Gallery Image')
              .col
                a(href='img/portfolio/single/ind_airport_04.jpg' data-fancybox='sideGallery' data-options='{"caption": "Screenshot of the web app"}').gallery-item.mb-30
                  +image('img/portfolio/ind_airport_04.jpg', 'Gallery Image')
      
      // Project Details
      .col-12.col-md-6
        h1.h4.mb-5 #{pageTitle}
        .widget
          h2.widget-title Client
          ul.list-unstyled.mb-0
            li
              span Indianapolis International Airport
            li
              a(href='https://www.ind.com/' target='_blank').navi-link.font-weight-medium www.ind.com
            li
              span Indianapolis, Indiana
        .widget
          h2.widget-title Objective
          p Enable visitors to discover what the airport has to offer, in addition to general wayfinding and seeing flight information.
        .widget
          h2.widget-title Result
          p First, a web experience as the pilot project (aeronautic pun!) with information on flights, dining, shopping, art, and transportation. Second, the same experience with additional wayfinding features on interactive touchscreens and deployed in the airport.
        .widget
          h2.widget-title Description
          p This was an exciting project as it was our first opportunity to build a major experience with an institution different from a museum, although Indianapolis Airport also has a lot of art. In designing the experience, I followed a similar layout as the <a href="portfolio-Asian-Art-Museum-Wayfinding-Kiosk.html">Asian Art Museum kiosk</a> since that was a design we tested and proved to work well with visitors unfamiliar with a space. There was significantly more information that needed to be displayed in the airport experience, so I created a prototype click-through in Marvel (<a href="https://marvelapp.com/" target="_blank">marvelapp.com</a>) to make sure the airport team and we were on the same page about the layout and content. The airport team tested the experience internally and provided feedback at every step of design and iteration. The experience on touchscreen, placed in the airport, allows visitors to explore the same information as on web, but also see directions to points of interest. Both experiences have language support for English, Spanish, French, German, Chinese, Hindi, and Japanese.
        .widget
          h2.widget-title My Roles
          p Design, prototyping, quality assurance
    
    // portfolio-share.pug template
    // include partials/portfolio-share
    
    // entry-navigation-portfolio.pug template
    // include partials/entry-navigation-portfolio

  //- footer-portfolio.pug template
  include partials/footer-default
