//- offcanvas-menu.pug template
include offcanvas-menu

// Navbar: Simple
// Remove "navbar-sticky" class to make navigation bar scrollable with the page.
header.fixed-top.navbar-wrapper.navbar-boxed
  .container.px-3
    .d-table-cell.align-middle
      .navbar.justify-content-between.justify-content-lg-center
        a(href='index.html').navbar-brand.rounded-circle
          img(src='img/logo-J3.png' alt='JBH Design' class='rounded-circle')
        //- menu-main.pug template
        include menu
        div
          ul.navbar-buttons.d-inline-block.align-middle
            li.d-block.d-lg-none
              a(href='#mobile-menu' data-toggle='offcanvas')
                i.fe-icon-menu

