// Off-Canvas Menu
#mobile-menu.offcanvas-container.is-triggered.offcanvas-container-reverse
  span.offcanvas-close
    i.fe-icon-x
  .offcanvas-scrollable-area.border-top(style='height:calc(100% - 235px); top:71px;')

    //- menu-mobile.pug template
    include menu-mobile